body {
    font-family: 'Finlandica', sans-serif;
    font-family: 'Roboto Slab', serif;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 100px;
    color: yellow;
}

h2 {
    text-align: center;
    font: size 50px;
    color: red;
    background: local;
    padding: 10px 40px;
}

.class {
    text-align: center;
    color: aquamarine;
}

.link-button {
    text-align: center;
    color: beige;
    background-color: yellowgreen;
    font-size: medium;
    padding: 10px 40px;
}

P {
    color: white;
}